[core]
  commentchar = ";"
  excludesfile = ~/.gitignore_global
[user]
  email = pasi.bergman@hiq.fi
  name = Pasi Bergman
[pull]
  rebase = true
[color]
  ui = auto
[difftool "nvimdiff"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = nvimdiff
  guitool = nvimdiff
  colorMoved = default
[mergetool "nvimmerge"]
  cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[mergetool]
  prompt = false
[merge]
  tool = vimdiff
  guitool = nvimmerge
  conflictStyle = diff3
[difftool]
  prompt = false
[rerere]
  enabled = true
  autoupdate = true
[init]
  defaultBranch = main
[mergetool "vimdiff"]
  path = nvim
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[format]
  pretty = oneline
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg = lg1
